









p
{
	color: #fff;
	line-height: 100px;
	text-align: center;
	margin: 0;
}


.hidden {
  display: none;
}




#siteContainer
{
	margin: 0 auto;
	max-width: 1366px;
}

/*mobile first*/


#mainHeader
{
	margin-top: 40px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
	border-bottom: solid 2px #ccc;
}

#logo
{
  margin-top: 20px;
	width: 150px;
  height: 92px;
  background: #4066AA;
  margin-left: 20px;
}

#mainNav
{
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
	width: 100px;
  height: 92px;
  background: #4066AA;
}


#hero
{
  margin-top: 55px;
	padding-bottom: 20px;

}


 #heroImage {
  height: 448px;
  margin-left: 20px;
  margin-right: 20px;
  background: #4066AA;
}

#heroImage p
{
  line-height: 450px;
}


#tagline
{
  margin-top: 20px;
	padding-bottom: 20px;
  border-bottom: solid 2px #ccc;
}

#tagLineImage
{
  height: 393px;
  background: #4066AA;
}

#tagLineImage p
{
  line-height: 200px;
}



#HomeBeerPromoText1
{
	margin-top: 40px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: #ccc;
	border-bottom: solid 2px #ccc;
}

#homeBeer1
{
  margin-top: 20px;
	width: 261px;
  height: 92px;
  background: #4066AA;
  margin-left: 20px;
}

#HomeBeerPromoImg1
{
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
	width: 821px;
  height: 92px;
  background: #4066AA;
}


/* testing */

#homeBeer
{
	padding-bottom: 1px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: #4066AA;
	height: 273.25px;
}

#homeBeer p
{

}

#HomeBeerPromoText
{
	width: 42%;
  height: 34%;
  margin-top: 105px;
  margin-left: 10px;
	margin-right: 10px;
  margin-bottom: 50px;
  background: #293F67;

}

#HomeBeerPromoImg
{
	margin-left: 30px;
  margin-top: 70px;
  margin-bottom: 50px;
	width: 42%;
  height: 55.5%;
	order: -1;
  background: #293F67;
}


#charity
{
  margin-bottom: 10px;
	min-height: 282px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: #4066AA;
  margin-top: 25px;
}

#charityText
{
	width: 292px;
  margin-top: 25px;
  margin-left: 10%;
  margin-bottom: 25px;
  background: #293F67;
}

#charityText p
{
  line-height: 290px;
}


#homeEvents
{
	padding-bottom: 15px;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: #4066AA;
	margin-top: 20px;
}

#eventsText
{
  width: 1125px;
  height: 130px;
  margin-top: 50px;
  margin-left: 120px;
  margin-bottom: 10px;
  background: #293F67;
}

#eventsText p
{
  line-height: 120px;
}

#theEvents
{
  margin-bottom: 20px;
	display: flex;
	flex-direction: row;
  justify-content: space-between;
	padding-bottom: 5px;
  background: #4066AA;
}

#theEvents p
{
  line-height: 260px;
}

#events1
{
  width: 330px;
  height: 254px;
  margin-top:30px;
  margin-left: 120px;
  margin-bottom: 50px;
  background: #293F67;
}

#events2
{
  width: 330px;
  height: 254px;
  margin-top:30px;
  margin-bottom: 50px;
  background: #293F67
}

#events3
{
  width: 330px;
  height: 254px;
  margin-top:30px;
  margin-right: 120px;
  margin-bottom: 50px;
  background: #293F67
}

#upperFooter
{
	display: flex;
	flex-direction: row;
  justify-content: space-between;
	padding-bottom: 40px;
  background: #4066AA;
}

#upperFooter p
{
  line-height: 180px;
}


#footerLogo
{
  width: 186px;
  height: 166px;
  margin-top:30px;
  margin-left: 150px;
  margin-bottom: 20px;
  background: #293F67;
}

#footerContact
{
  width:186px;
  height: 166px;
  margin-top:30px;
  margin-bottom: 20px;
  background: #293F67
}

#footerNews
{
  width:186px;
  height: 166px;
  margin-top:30px;
  margin-bottom: 20px;
  background: #293F67
}


#footerNav
{
  width: 186px;
  height: 166px;
  margin-top:30px;
  margin-right: 150px;
  margin-bottom: 20px;
  background: #293F67
}

#social
{
  display: flex;
	flex-direction: row;
  justify-content: flex-start;
  background: #4066AA;
}


#socialMedia
{
  width: 422px;
  height: 57px;
  margin-top: 20px;
  margin-left: 470px;
  margin-bottom: 50px;
  background: #293F67;
}

#socialMedia p
{
  line-height: 55px;
}


@media screen and (min-width:64em) {

	#mainHeader
	{
		margin-top: 40px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: row;
	  justify-content: flex-start;
		border-bottom: solid 2px #ccc;
	}

	#logo
	{
	  margin-top: 20px;
		width: 261px;
	  height: 92px;
	  background: #4066AA;
	  margin-left: 20px;
	}

	#mainNav
	{
	  margin-top: 20px;
	  margin-left: auto;
	  margin-right: 20px;
		width: 821px;
	  height: 92px;
	  background: #4066AA;
	}


	#hero
	{
	  margin-top: 55px;
		padding-bottom: 20px;

	}


	 #heroImage {
	 width: 1250px;
	  height: 448px;
	  margin-left: 55px;
	  margin-right: 30px;
	  background: #4066AA;
	}

	#heroImage p
	{
	  line-height: 450px;
	}


	#tagline
	{
	  margin-top: 20px;
		padding-bottom: 20px;
	  border-bottom: solid 2px #ccc;
	}

	#tagLineImage
	{
	  width: 1250px;
	  height: 393px;
	  margin-left: 50px;
	  margin-right: 30px;
	  background: #4066AA;
	}

	#tagLineImage p
	{
	  line-height: 200px;
	}



	#HomeBeerPromoText1
	{
		margin-top: 40px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: row;
	  justify-content: flex-start;
	  background: #ccc;
		border-bottom: solid 2px #ccc;
	}

	#homeBeer1
	{
	  margin-top: 20px;
		width: 261px;
	  height: 92px;
	  background: #4066AA;
	  margin-left: 20px;
	}

	#HomeBeerPromoImg1
	{
	  margin-top: 20px;
	  margin-left: auto;
	  margin-right: 20px;
		width: 821px;
	  height: 92px;
	  background: #4066AA;
	}


	/* testing */

	#homeBeer
	{
		padding-bottom: 1px;
		max-height: 456px;
		display: flex;
		flex-direction: row;
	  justify-content: flex-start;
	  background: #4066AA;
		height: 457px;
	}

	#homeBeer p
	{
		line-height: 250px;
	}

	#HomeBeerPromoText
	{
		width: 572px;
	  height: 338px;
	  margin-top: 90px;
	  margin-left: 120px;
	  margin-bottom: 50px;
		order: -1;
	  background: #293F67;
	}

	#HomeBeerPromoImg
	{
		margin-left: 160px;
	  margin-top: 90px;
	  margin-right: 60px;
	  margin-bottom: 50px;
		width: 347px;
	  height: 338px;
	  background: #293F67;
	}


	#charity
	{
	  margin-bottom: 10px;
		height: 392px;
		display: flex;
		flex-direction: row;
	  justify-content: flex-start;
	  background: #4066AA;
	  margin-top: 25px;
	}

	#charityText
	{
		width: 458px;
	  margin-top: 25px;
	  margin-left: 35%;
	  margin-bottom: 25px;
	  background: #293F67;
	}

	#charityText p
	{
	  line-height: 290px;
	}


	#homeEvents
	{
		padding-bottom: 15px;
		display: flex;
		flex-direction: row;
	  justify-content: flex-start;
	  background: #4066AA;
		margin-top: 20px;
	}

	#eventsText
	{
	  width: 1125px;
	  height: 130px;
	  margin-top: 50px;
	  margin-left: 120px;
	  margin-bottom: 10px;
	  background: #293F67;
	}

	#eventsText p
	{
	  line-height: 120px;
	}

	#theEvents
	{
	  margin-bottom: 20px;
		display: flex;
		flex-direction: row;
	  justify-content: space-between;
		padding-bottom: 5px;
	  background: #4066AA;
	}

	#theEvents p
	{
	  line-height: 260px;
	}

	#events1
	{
	  width: 330px;
	  height: 254px;
	  margin-top:30px;
	  margin-left: 120px;
	  margin-bottom: 50px;
	  background: #293F67;
	}

	#events2
	{
	  width: 330px;
	  height: 254px;
	  margin-top:30px;
	  margin-bottom: 50px;
	  background: #293F67
	}

	#events3
	{
	  width: 330px;
	  height: 254px;
	  margin-top:30px;
	  margin-right: 120px;
	  margin-bottom: 50px;
	  background: #293F67
	}

	#upperFooter
	{
		display: flex;
		flex-direction: row;
	  justify-content: space-between;
		padding-bottom: 40px;
	  background: #4066AA;
	}

	#upperFooter p
	{
	  line-height: 180px;
	}


	#footerLogo
	{
	  width: 186px;
	  height: 166px;
	  margin-top:30px;
	  margin-left: 150px;
	  margin-bottom: 20px;
	  background: #293F67;
	}

	#footerContact
	{
	  width:186px;
	  height: 166px;
	  margin-top:30px;
	  margin-bottom: 20px;
	  background: #293F67
	}

	#footerNews
	{
	  width:186px;
	  height: 166px;
	  margin-top:30px;
	  margin-bottom: 20px;
	  background: #293F67
	}


	#footerNav
	{
	  width: 186px;
	  height: 166px;
	  margin-top:30px;
	  margin-right: 150px;
	  margin-bottom: 20px;
	  background: #293F67
	}

	#social
	{
	  display: flex;
		flex-direction: row;
	  justify-content: flex-start;
	  background: #4066AA;
	}


	#socialMedia
	{
	  width: 422px;
	  height: 57px;
	  margin-top: 20px;
	  margin-left: 470px;
	  margin-bottom: 50px;
	  background: #293F67;
	}

	#socialMedia p
	{
	  line-height: 55px;
	}
}
